<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">123</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tbreach2?zeroDateTimeBehavior=convertToNull</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.connection.pool_size">0</property>
  <property name="hibernate.connection.autocommit">true</property>
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.use_sql_comments">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hibernate.transaction.auto_close_session">true</property>
<!--   <mapping resource="org/irdresearch/tbreach2/shared/model/Contact.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/Definition.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/DrugHistory.hbm.xml"/>
 -->  <mapping resource="org/irdresearch/tbreach2/shared/model/Encounter.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/EncounterResults.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/GeneXpertResults.hbm.xml"/>
<!--   <mapping resource="org/irdresearch/tbreach2/shared/model/Feedback.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/Gp.hbm.xml"/> -->
  <mapping resource="org/irdresearch/tbreach2/shared/model/LabMapping.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/Location.hbm.xml"/>
 <!-- <mapping resource="org/irdresearch/tbreach2/shared/model/Log_Data.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/Log_UserLogin.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/Patient.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/Person.hbm.xml"/>
 -->  <mapping resource="org/irdresearch/tbreach2/shared/model/Screening.hbm.xml"/>
 <!--  <mapping resource="org/irdresearch/tbreach2/shared/model/Sms.hbm.xml"/> --> 
  <mapping resource="org/irdresearch/tbreach2/shared/model/SputumResults.hbm.xml"/>
 <!--   <mapping resource="org/irdresearch/tbreach2/shared/model/TreatmentRefusal.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/UserRights.hbm.xml"/> -->
  <mapping resource="org/irdresearch/tbreach2/shared/model/Users.hbm.xml"/>
 <!-- <mapping resource="org/irdresearch/tbreach2/shared/model/Worker.hbm.xml"/>
  <mapping resource="org/irdresearch/tbreach2/shared/model/XrayResults.hbm.xml"/>
 --> </session-factory>
</hibernate-configuration>
