<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tbr2mobileweb</display-name>
  <welcome-file-list>
    <welcome-file>EnterPID.jsp</welcome-file>
    <welcome-file>registrationBook.jsp</welcome-file>
    <welcome-file>tbrmobile.jsp</welcome-file>
    <welcome-file>SputumResult.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sputumResult</display-name>
    <servlet-name>sputumResult</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.sputumResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sputumResult</servlet-name>
    <url-pattern>/sputumResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeLocationServlet</display-name>
    <servlet-name>changeLocationServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.changeLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeLocationServlet</servlet-name>
    <url-pattern>/changeLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkingStatus</display-name>
    <servlet-name>checkingStatus</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.checkingStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkingStatus</servlet-name>
    <url-pattern>/checkingStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateScreeningServlet</display-name>
    <servlet-name>UpdateScreeningServlet</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.UpdateScreeningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScreeningServlet</servlet-name>
    <url-pattern>/UpdateScreeningServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>csvExport</display-name>
    <servlet-name>csvExport</servlet-name>
    <servlet-class>org.irdresearch.tbreach2.server.csvExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>csvExport</servlet-name>
    <url-pattern>/csvExport</url-pattern>
  </servlet-mapping>
</web-app>